html{
	width: 100%;
	height: 100%;

}
body{
	width: 100%;
	height: 100%;
	font-family: arial;
}
div{
	height: 100%;
	width:100%;
}
.FirstCompo{
	/*background-color: red;*/
	width: 100%;
	height: 100%;

}
.FirstCompo1{
	/*background-color: yellow;*/
	width: 25%;
	height: 100%;
	float: left;

}

.FirstCompo11{
	/*background-color: blue;*/
	width: 100%;
	height: 58%;
	float: left;

}
.FirstCompo111{
	/*background-color: orange;*/
	width: 94%;
	height: 67%;
	float: left;
	margin: 0px 10px 10px;
}

.FirstCompo111 img{
	border-radius: 7%;
	margin: 0px 5px 5px;
	width:96%;
	height: 98%;
}
.FirstCompo112{
	/*background-color: lightblue;*/
	width: 94%;
	height: 27%;
	float: left;
	margin: 0px 10px;
}
.FirstCompo112 h1{
	/*margin: 0px !important;*/
	font-family: arial;
	margin: 0px 0px 0px 5px;
	color: #2a2a2a;
}
.FirstCompo112 p{
	/*margin: 0px !important;*/
	font-family: arial;
	color:grey;
	margin: 9px 0px 0px 5px;
}
.FirstCompo121{
	background-color: pitch;
	width: 100%;
	height: 35%;
	float: left;

}
.FirstCompo12{
	background-color: white;
	width: 94%;
	height: 13%;
	float: left;
	margin: 0px 10px 10px;
}
.FirstCompo12 hr{
	float: left;
	width: 100%;
}
.FirstCompo12 div{
	float: left;
	margin: 0px 10px 0px;
	height: 75%;
}
.FirstCompo12 div div{
	float: left;
	height: 60%;
	width: 23%;
}
.FirstCompo12 h1{
	text-align: center;
	margin: 5px 0px;
	color:#2a2a2a;
}.FirstCompo12 h6{
	text-align: center;
	margin: 0px 0px 5px;
	color:grey;
}
.FirstCompo12 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d5d8;
    /*margin: 1em 0;*/
    padding: 0; 
}
.FirstCompo13{
	color:#2a2a2a;
	width: 94%;
	height: 22%;
	float: left;
	margin: 0px 10px 10px;
}

.FirstCompo2{
	
	width: 75%;
	height: 100%;
	float: left;

}
.FirstCompo21{
	
	width: 100%;
	height: 17%;
	float: left;

}
.FirstCompo21 h2{
	color:#6b6c6d;
	margin: 0px 0px 28px;
}
.FirstCompo21 input{
	width:90%;
}
.FirstCompo22{
	
	width: 90%;
	height: 83%;
	float: left;

}
span#repo1{
	margin: 14px 0px 7px;
	color:#1b80e5;
	width: 80%;
	float: left;
}
span#repo2{
	margin: 14px 0px 0px;
	color:#6b6c6d;
	width: 20%;
	float: left;
	font-size: 15px;
}
span#update1{
	color:#6b6c6d;
	font-size: 15px;
}
.FirstCompo22 hr
{
	margin-top: 24px;
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d5d8;
    /*margin: 1em 0;*/
    padding: 0; 
}