.Container
{
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   
}
.Sidebar
{
    height:  600px;
    width: 30%;
    position: relative;
}
.ContentSection
{
    height:inherit;
    width: 60%;
    position: absolute;
    left: 40%;
    top: 0%;
}
.RepoList
{
    width: 80%; 
    display: flex;
    border-bottom: 2px solid #eee;
    justify-content: space-around;
}
.RepoList div 
{
    padding: 50px; 
    padding-left: 0px;
}
.ProfilePic
{
    height: 300px;
    width: 100%;
}
.ProfilePic img
{
    border-radius: 10px;
    height: 350px;
    width: 100%;
}
.Searchbar 
{
    width: 100%;
}
.Searchbar input
{
    padding: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 90%;
    margin:3%;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.Repodetail
{
    display: flex;
}
.Repodetail div
{
    padding: 5px;
    margin: 10px;
}

.Text-align-left
{
    text-align: left;
    margin-left: 0px;
    /* float: left; */
}
.Text-align-right
{
    text-align: right;
    float: right;
}
.Font-lg
{
    font-size: 25px;
    text-transform: capitalize;
}